## 4.6 Combining & Exporting Data

### Contents

### 1. Exercise 4.6 procedure

### 2. Exporting the merged file

#### 1. If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

#### Importing libraries and files

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create a path
path = r'C:\Users\boss4048\Documents\10-2024 Instacart Basket Analysis'

In [3]:
# Import a new dataframe as df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'))

In [4]:
# Import a dataframe as df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))

In [5]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Check the dimensions of the imported dataframe
df_ords_prior.shape

(32434489, 4)

In [7]:
# # Check the dimensions of the df_ords dataframe
df_ords.shape

(3421083, 8)

In [8]:
# Merge the 2 dataframes with inner join (default) to get a full matching dataset and create a flag column from indicator = true
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,total_days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [10]:
# Count to check
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

The merge flags show us there is a full match between the two input dataframes from the code with inner join.

However, I want to check the same purpose but with outer join as well. The code below shows the result of the sum counts with outer join.

In [11]:
# Test merge without overwriting by using how = outer
(pd.merge(df_ords,df_ords_prior, on = 'order_id', how = 'outer', indicator = True))['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

The result is different from using how = inner.
This shows that these 2 datasets do not have only full match values, they have values on left only as well.

#### 2. Export the merged file in pickle format as “orders_products_combined.pkl”.

In [12]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))